(logging) {
	log {
		output stdout
	}
}

http://localhost:4000 {
	import logging

	@sonos-matcher {
		method POST
		header x-sonos-target-type householdId
		header x-sonos-namespace groups
	}

	route * {
		reverse_proxy @sonos-matcher server:5001 {
			rewrite /groupsCallback
		}

		respond "Bad Request" 400
	}
}
