(logging) {
    log {
        output stdout
    }
}

localhost:5000 {
  import logging

  tls internal

  reverse_proxy server:5001
}

http://192.168.86.238:4000 {
  import logging

  reverse_proxy server:5001 {
   rewrite /groupsCallback
  }
}
