(logging) {
    log {
        output stdout
    }
}

localhost:5000 {
  import logging

  tls internal

  reverse_proxy server:5001
}

http://localhost:4000 {
  import logging

  @sonos-matcher {
   method POST
   header x-sonos-target-type householdId
   header x-sonos-namespace groups
  }

  reverse_proxy @sonos-matcher server:5001 {
   rewrite /groupsCallback
  }
}
